.quizbook__questions {
   list-style: none;
   padding-left: 0;
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-between;
}

.quizbook__question{
  background-color: #f1f1f1;
  padding: 20px 25px;
  margin-bottom: 25px;
  width: 49%;
}

.quizbook__question__title{
  margin: 0;
  color: #0073aa;
  font-size: 1.5em;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 15px;
}

.quizbook__question__title,
.quizbook__question__description {
  text-align: center;
  line-height: 1em;
}

.quizbook__question__title::before {
  display: none;
}

.quizbook__question--answer {
  padding: 10px 20px;
  border: 1px solid #e1e1e1;
  margin-bottom: 10px;
  cursor: pointer;
}

.quizbook__question--answer:hover,
.quizbook__question--answer.selected {
  background-color: #0073aa;
  color: #fff;
  border-color: #fff;
}

.aprobado {
  display: inline-block;
  background-color: #08ab08;
  min-width: 300px;
  text-align: center;
  color: #fff;
}

.noaprobado {
  display: inline-block;
  background-color: #da0606;
  min-width: 300px;
  text-align: center;
  color: #fff;
}